<template>
  <v-container class="grey lighten-5">
    <v-table fixed-header height="85vh" density="compact">
      <template v-slot:default>
        <thead>
        <tr>
          <th class="text-left" v-for="title in headers" :key="title">
            {{ title }}
          </th>
          <td :class="{'text-right': !sportsmen.length}">
            <v-btn
                size="small"
                variant="outlined"
                icon="mdi-plus-thick"
                color="secondary"
                @click="addSportsman"
            >
            </v-btn>
          </td>
        </tr>
        </thead>
        <tbody>
        <tr
            v-for="(sportsman) in sportsmen"
            :key="sportsman.id"
        >
          <template v-for="(value, propName, index) in sportsman">
            <td class="text-center" v-if="!index" :key="sportsman.id+propName">
              {{ sportsman.id }}
            </td>
            <td v-else :key="sportsman.id+propName">

              <v-text-field
                  hide-details
                  density="compact"
                  variant="outlined"
                  v-model="sportsman[propName]"
                  :error="tablePropsMap[sportsman.id+propName]?.error"
                  :prepend-inner-icon="tablePropsMap[sportsman.id+propName]?.error ? 'mdi-exclamation' : ''"

                  @input="onCellValueChanged(sportsman.id, propName, sportsman[propName])"
                  @focus="onCellFocused(sportsman.id, propName)"
                  @blur="onCellBlurred(sportsman.id, propName)"
                  @change="onChange(sportsman, propName)"
              >
                <v-btn
                    class="editing"
                    v-if="tablePropsMap[sportsman.id+propName].visible"
                    size="x-small"
                    :color="tablePropsMap[sportsman.id+propName].color"
                >
                  {{ tablePropsMap[sportsman.id + propName].letter }}
                </v-btn>
              </v-text-field>

            </td>
          </template>
          <td>
            <v-btn
                size="small"
                variant="outlined"
                icon="mdi-delete"
                color="error"
                :disabled="isEditing(sportsman)"
                @click="deleteSportsman(sportsman.id)"
            >
            </v-btn>
          </td>
        </tr>
        </tbody>
      </template>
    </v-table>

    <div class="text-center">

      <v-snackbar
          v-model="isSnackbarActive"
          multi-line
      >
        <div v-html="snackbarText"></div>

        <template v-slot:actions>
          <v-btn
              :color="snackbarColor"
              variant="text"
              @click="isSnackbarActive = false"
          >
            Close
          </v-btn>
        </template>
      </v-snackbar>
    </div>
  </v-container>
</template>

<script>
import {defineComponent} from 'vue';
import debounce from "lodash/debounce"
import socket from "@/common/socket";
import api from "@/common/api";
import {findIndex} from "lodash";
import {headers, socketEvents} from "@/common/constants";

// TODO build with vuelidate and vue3
// import useVuelidate from "@vuelidate/core";
// import {helpers, integer, maxLength, minValue, or, required} from "@vuelidate/validators";

export default defineComponent({
  name: 'DataTable',
  /*  setup() {
      return {v$: useVuelidate()}
    },*/
  components: [],
  computed: {},
  created() {
    this.setTablePropsMap();
  },
  mounted() {
    this.socket.on('event', (data) => {
      const index = findIndex(this.sportsmen, ((sportsman) => sportsman.id == data.payload.id));
      const {id, propName, value} = data.payload;
      switch (data.name) {
        case socketEvents.updateCell:
          this.sportsmen.forEach((sportsman) => {
            if (sportsman.id === id && value) {
              sportsman[propName] = value;
            }
          });
          this.updateCell(data.payload);
          break;
        case socketEvents.deleteSportsman:
          this.sportsmen.splice(index, 1);
          break;
        case socketEvents.addSportsman:
          this.$store.dispatch(data.name, data.payload)
          // this.sportsmen.push(data.payload);
          this.addRowPropsMap(data.payload);
          break;
        default:
          console.warn('unknown event', data );
      }
    });
  },
  data() {
    return {
      headers: headers,
      colour: this.$store.getters.colour,
      letter: this.$store.getters.colour[0],
      editingIds: [],
      tablePropsMap: {},
      socket: socket,
      sportsmen: this.$store.getters.sportsmen,
      isSnackbarActive: false,
      snackbarText: '',
      snackbarColor: ''
    }
  },
  /*  validations() {
      return {
        sportsmen: helpers.forEach(
            {
              fullname: {required, maxLength: maxLength(5)},
              gender: {oneOf: or('male', 'female')},
              age: {integer, minValue: minValue(10)},
              height: {integer, minValue: minValue(100)},
              weight: {integer, minValue: minValue(10)},
              year: {integer},
              season: {oneOf: or('winter', 'spring', 'summer', 'autumn')},
              medal: {oneOf: or('gold', 'silver', 'bronze')}
            }
        )
      }
    },*/
  methods: {
    objectAssign(target, source) {
      for(const prop in source){
        target[prop] = source[prop];
      }
    },
    isEditing(sportsman) {
      let result = false;
      for (const propName in sportsman) {
        if (this.tablePropsMap[sportsman.id + propName].visible &&
            this.tablePropsMap[sportsman.id + propName].colour !== this.colour) {
          result = true;
          break;
        }
      }
      return result;
    },
    hasErrors(sportsman) {
      let result = false;
      for (const propName in sportsman) {
        if (this.tablePropsMap[sportsman.id + propName].error) {
          result = true;
          break;
        }
      }
      return result;
    },
    setTablePropsMap() {
      this.tablePropsMap = this.sportsmen.reduce((result, sportsman) => {
        for (const propName in sportsman) {
          result[sportsman.id + propName] = {
            visible: false,
            colour: null,
            letter: null,
            error: false,
            messages: [],
            readonly: false
          }
        }
        return result;
      }, {});
    },
    addRowPropsMap(sportsman) {
      for (const propName in sportsman) {
        this.tablePropsMap[sportsman.id + propName] = {
          visible: false,
          colour: null,
          letter: null,
          error: false,
          messages: [],
          readonly: false
        }
      }
    },
    removeRowPropsMap(sportsman) {
      for (const propName in sportsman) {
        delete this.tablePropsMap[sportsman.id + propName];
      }
    },
    showSnackbar(error) {
      this.snackbarText = error ? this.getSnackbarError(error) : 'Saved';
      this.snackbarColor = error ? 'red' : 'green';
      this.isSnackbarActive = true;
    },
    getSnackbarError(error) {
      let result = `<p>${error.message}</p>`;
      if (error.response.data.message instanceof Array) {
        error.response.data.message.forEach(message => {
          result += `<p>${message}</p>`;
        });
      }
      return result;
    },
/*    toggleHighlightCell(payload) {
      const {id, propName, colour, visible, error, letter} = payload;
      const key = payload.id + payload.propName;
      Object.assign(this.tablePropsMap[key], payload);
      if (visible) {

        this.tablePropsMap[key].visible = visible;
        this.tablePropsMap[key].color = colour;
        this.tablePropsMap[key].letter = letter;
        this.tablePropsMap[key].readonly = false;
        this.tablePropsMap[key].error = error;
      } else {
        this.tablePropsMap[key].visible = visible;
      }
    },*/
    onCellFocused(id, propName) {
      this.socket.emit('event', {
            name: socketEvents.updateCell,
            payload: {
              id,
              propName,
              colour: this.colour,
              visible: true,
              letter: this.letter
            }
          }
      );
    },
    onCellBlurred(id, propName) {
      this.socket.emit('event', {
        name: socketEvents.updateCell,
        payload: {
          id: id,
          propName,
          visible: false
        }
      });
    },
    onChange(sportsman, propName) {
      let body = {};
      if (this.hasErrors(sportsman)) {
        body[propName] = sportsman[propName];
      } else {
        body = sportsman;
      }
      api.updateSportsman(sportsman.id, body)
          .then(() => {
            this.addRowPropsMap(sportsman)
            this.tablePropsMap[sportsman.id + propName].error = false;
            this.showSnackbar();
            this.socket.emit('event', {
              name: socketEvents.updateCell,
              payload: {
                id: sportsman.id,
                propName,
                visible: false,
                error: false,
                messages: [],
                letter: this.letter
              }
            });
          })
          .catch((error) => {
            const eventPayload = {
              id: sportsman.id,
              propName,
              visible: false,
              error: true,
              messages: error.response.data.message,
              letter: this.letter
            };
            if (error.response.status === 400) {
              eventPayload.messages = error.response.data.message;
              this.tablePropsMap[sportsman.id + propName].error = true;
              this.tablePropsMap[sportsman.id + propName].messages = eventPayload.messages;
              this.socket.emit('event', {
                name: socketEvents.updateCell,
                payload: eventPayload
              });
            }
            this.showSnackbar(error);
          });
    },
    updateCell(payload) {
      const key = payload.id + payload.propName;
      this.tablePropsMap[key].visible = payload.visible;
      this.tablePropsMap[key].color = payload.colour;
      this.tablePropsMap[key].letter = payload.letter;
      this.tablePropsMap[key].readonly = false;
      this.tablePropsMap[key].error = payload.error || false;
      this.tablePropsMap[key].messages = payload.messages || null;

     //this.objectAssign(this.tablePropsMap[payload.id + payload.propName], payload);
     console.log(this.tablePropsMap[key])
    },
    onCellValueChanged: debounce(function (id, propName, value) {
      this.socket.emit('event', {
            name: socketEvents.updateCell,
            payload: {
              id,
              propName,
              value,
              visible: true,
              colour: this.colour,
              letter: this.letter
            }
          }
      );
    }, 1000),
    addSportsman() {
      api.addSportsman()
          .then((sportsman) => {
            socket.emit('event', {name: 'addSportsman', payload: sportsman});
            this.addRowPropsMap(sportsman);
            console.log('api.addSportsman()');
            this.sportsmen.push(sportsman);
            this.showSnackbar();
          })
          .catch(this.showSnackbar)
    },
    deleteSportsman(id) {
      api.deleteSportsman(id)
          .then(() => {
            socket.emit('event', {name: 'deleteSportsman', payload: {id}});
            const index = findIndex(this.sportsmen, ((sportsman) => sportsman.id == id));
            this.sportsmen.splice(index, 1);
            this.removeRowPropsMap();
            this.showSnackbar();

          })
          .catch(this.showSnackbar)
    }
  }
});
</script>

<style>

td {
  position: relative;
  z-index: 1;
  padding: 10px;
}

.v-btn.editing {
  opacity: 1;
  text-transform: capitalize;
  position: absolute;
  top: -5px;
  right: -3px;
  z-index: 2;
}
</style>