<template>
  <v-app style="z-index: 0">
    <v-app-bar color="grey-lighten-2">
      <v-app-bar-title><p :style="{color: colour}">Hello, <span style="text-transform: capitalize">{{colour}}!</span></p></v-app-bar-title>
      <v-spacer></v-spacer>
      <template v-for="(colour, index) in coloursList">
        <v-btn
            :style="{'z-index': coloursList.length - index, left: (-8*index) + 'px'}"
            class="online"
            v-if="colour !== $store.getters.colour"
            :key="colour"
            size="small"
            icon=""
            :color="colour"
        >
          {{colour[0]}}
        </v-btn>
      </template>
    </v-app-bar>
    <v-main>
      <DataTable></DataTable>
    </v-main>
  </v-app>
</template>

<script>

import {defineComponent} from 'vue';
import DataTable from "@/components/DataTable";
import api from "@/common/api";

export default defineComponent({
  name: 'App',
  components: {
    DataTable
  },
  created(){
    this.colour = this.$store.getters.colour;
    api.getColoursList()
        .then((list) => {
          this.coloursList = list;
        })
  },
  data() {
    return {
      colour:  '',
      coloursList: []
    }
  },
});

</script>

<style>
.v-btn.online{
  position: relative;
  left: 15px;
}

.v-container {
  padding: 10px 0px;
}

table {
  padding: 0 20px;
}

td{
  padding: 5px !important;
  text-align: center;
}

@media (min-width: 1280px){
  .v-container {
    max-width: 100%;
  }
}
</style>
